.recline-graph-container .graph {
  height: 500px;
  margin-right: 200px;
}

.recline-graph-container .legend table {
  width: auto;
  margin-bottom: 0;
}

.recline-graph-container .legend td {
  padding: 5px;
  line-height: 13px;
}

/**********************************************************
  * Editor
  *********************************************************/

.recline-graph-container .editor {
  float: right;
  width: 200px;
  padding-left: 0px;
}

.recline-graph-container .editor-info {
  padding-left: 4px;
}

.recline-graph-container .editor-info {
	cursor: pointer;
}

.recline-graph-container .editor form {
  padding-left: 4px;
}

.recline-graph-container .editor select {
	width: 100%;
}

.recline-graph-container .editor-info {
	border-bottom: 1px solid #ddd;
	margin-bottom: 10px;
}

.recline-graph-container .editor-hide-info p {
	display: none;
}

