.recline-data-explorer .data-view-container {
  display: block;
}

.recline-data-explorer .data-view-sidebar {
  float: right;
  margin-left: 8px;
}

.recline-data-explorer .header .navigation {
  margin-bottom: 8px;
}

.recline-data-explorer .header .navigation,
.recline-data-explorer .header .pagination,
.recline-data-explorer .header .pagination form
{
  display: inline;
}

.recline-data-explorer .header .navigation {
  float: left;
}

.recline-data-explorer .header .menu-right {
  float: right;
  margin-left: 5px;
  padding-left: 5px;
  border-left: solid 2px #ddd;
}

.header .recline-results-info {
  line-height: 28px;
  margin-left: 20px;
  float: left;
}

/**********************************************************
  * Query Editor
  *********************************************************/

.header .recline-query-editor {
  float: right;
  height: 30px;
}

.header .input-prepend {
  margin-bottom: auto;
}

.header .add-on {
  float: left;
}

/* needed for Chrome but not FF */
.header .add-on {
  margin-left: -27px;
}

/* needed for FF but not chrome */
.header .input-prepend {
  vertical-align: top;
}

.header .recline-query-editor form button {
  vertical-align: top;
}

/**********************************************************
  * Pager
  *********************************************************/

.header .recline-pager {
  float: left;
  margin: auto;
  display: block;
  margin-left: 20px;
}

.header .recline-pager .pagination input {
  width: 30px;
  height: 18px;
  padding: 2px 4px;
  margin: 0;
  margin-top: -4px;
}

.header .recline-pager .pagination a {
  line-height: 26px;
  padding: 0 6px;
}

/**********************************************************
  * Filter Editor
  *********************************************************/

.recline-filter-editor .filter-term .input-append a {
  margin-left: -5px;
}

.recline-facet-viewer .facet-summary label {
  display: inline;
}

/**********************************************************
  * Fields Widget
  *********************************************************/

.recline-fields-view {
  width: 200px;
}

.recline-fields-view .fields-list {
  padding: 0;
}

.recline-fields-view .fields-list .accordion-heading a,
.recline-fields-view .fields-list .accordion-heading h4 {
  display: inline;
}

.recline-fields-view .fields-list .accordion-heading h4 {
  margin-left: 10px;
}

.recline-fields-view .clear {
  clear: both;
}

.recline-fields-view .facet-items {
  list-style-type: none;
  margin-left: 0;
}

.recline-fields-view .facet-item .term {
  font-weight: bold;
}

.recline-fields-view .facet-item .count {
}

/**********************************************************
  * Notifications
  *********************************************************/

.recline-data-explorer .notification-loader {
  width: 18px;
  margin-left: 5px;
  background: url(images/small-spinner.gif) no-repeat;
  display: inline-block;
}

.recline-data-explorer .alert-loader {
  position: absolute;
  width: 200px;
  left: 50%;
  margin-left: -100px;
  z-index: 10000;
  padding: 40px 0px 40px 0px;
  margin-top: -10px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  border-top: none;
}

