:root {
  --callout-bg-color: #f2f3f5;
}

:root.dark {
  --callout-bg-color: #161616;
}

.blockquote,
.callout {
  background: #f2f3f5;
  background: var(--callout-bg-color);
  font-style: normal;
  border-radius: 2px;
}

.callout {
  padding: 0 !important;
}

.callout-title {
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 10px;
}

.callout-title > strong {
  font-weight: 700;
}

.blockquote,
.callout-content {
  padding: 10px 20px;
}

.blockquote-heading {
  margin: 5px 0 !important;
  padding: 0 !important;
}

.blockquote > p,
.callout-content > p {
  font-weight: normal;
  margin: 5px 0;
}

.callout-title p {
  margin: 0;
}

.callout-title > strong {
  line-height: 1.5;
}

.callout p:before,
p:after {
  display: none;
}

.blockquote > p:before,
p:after {
  display: none;
}

blockquote.callout-foldable {
  cursor: pointer;
  display: grid;
  grid-template-rows: min-content 1fr;
  transition: all 0.3s ease-in-out; 
}

blockquote.callout-foldable.callout-folded {
  grid-template-rows: min-content 0fr;
}

blockquote.callout-foldable .callout-content {
  overflow: hidden;
  padding: 0px 10px;
}

blockquote.callout-foldable .callout-title strong::after {
  content: "";
  display: inline-block;
  height: 10px;
  width: 10px;
  border-style: solid;
  border-width: 0 3px 3px 0;
  border-color: var(--tw-prose-body);
  position: absolute;
  top: 0.8em;
  right: 1em;
  transform: rotate(45deg);
  transition: all 0.3s ease-in-out;
}

blockquote.callout-foldable.callout-folded .callout-title strong::after {
  transform: rotate(-45deg);
}
