:root {
  --callout-bg-color: #f2f3f5;
}

:root.dark {
  --callout-bg-color: #161616;
}

.blockquote,
.callout {
  background: #f2f3f5;
  background: var(--callout-bg-color);
  font-style: normal;
  border-radius: 2px;
}

.callout {
  padding: 0 !important;
}

.callout-title {
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 10px;
}

.callout-title > strong {
  font-weight: 700;
}

.blockquote,
.callout-content {
  padding: 10px 20px;
}

.blockquote-heading {
  margin: 5px 0 !important;
  padding: 0 !important;
}

.blockquote > p,
.callout-content > p {
  font-weight: normal;
  margin: 5px 0;
}

.callout-title p {
  margin: 0;
}

.callout-title > strong {
  line-height: 1.5;
}

.callout p:before,
p:after {
  display: none;
}

.blockquote > p:before,
p:after {
  display: none;
}
