
@import url("http://assets.openspending.org/branding/fonts/opensans/stylesheet.css");

h1, h2, h3, h4, h5,
#booktitle,
.objavi-subsection-heading,
.objavi-chapter
{
  font-family: "OpenSansSemiBold";
}

.objavi-subsection-heading {
  display: block;
}

#frontmatterraw {
  font-family: "OpenSansRegular";
}

#note {
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 5px;
  background-color: #ddd;
}


span.section,
span.chapter,
span.pagenumber {
  font-family: "OpenSansRegular";
}

p, li, #note,
.objavi-subsection, 
#lightimage {
  font-size: 15px;
  line-height: 20px;
  text-align: justify;
}
