* <a href="https://github.com/okfn/recline.backend.gdocs">gdocs: Google Docs (Spreadsheet)</a>
* <a href="https://github.com/okfn/csv.js">csv: CSV files</a>
* <a href="https://github.com/okfn/recline.backend.solr">solr: SOLR</a> (partial)
* <a href="https://github.com/okfn/elasticsearch.js">elasticsearch: ElasticSearch</a>
* <a href="{{page.root}}/docs/src/backend.dataproxy.html">dataproxy: DataProxy (CSV and XLS on the Web)</a>
* <a href="https://github.com/okfn/ckan.js">ckan: CKAN</a> &ndash; support for <a href="http://docs.ckan.org/en/latest/datastore.html">CKAN datastore</a>
* <a href="https://github.com/okfn/recline.backend.couchdb">couchdb: CouchDB</a>
* <a href="{{page.root}}/docs/src/backend.memory.html">memory: Memory (local data)</a>
