<ul>
  <li><a href="{{page.root}}/docs/src/backend.gdocs.html">gdocs: Google Docs (Spreadsheet)</a></li>
  <li><a href="{{page.root}}/docs/src/backend.csv.html">csv: CSV files</a></li>
  <li><a href="{{page.root}}/docs/src/backend.solr.html">solr: SOLR</a> (partial)</li>
  <li><a href="{{page.root}}/docs/src/backend.elasticsearch.html">elasticsearch: ElasticSearch</a></li>
  <li><a href="{{page.root}}/docs/src/backend.dataproxy.html">dataproxy: DataProxy (CSV and XLS on the Web)</a></li>
  <li><a href="{{page.root}}/docs/src/backend.ckan.html">ckan: CKAN</a> &ndash; support for <a href="http://docs.ckan.org/en/latest/datastore.html">CKAN datastore</a></li>
  <li><a href="{{page.root}}/docs/src/backend.couchdb.html">couchdb: CouchDB</a></li>
  <li><a href="{{page.root}}/docs/src/backend.memory.html">memory: Memory (local data)</a></li>
</ul>
