  <link rel="stylesheet" href="{{page.root}}vendor/leaflet/0.3.1/leaflet.css">
  <!--[if lte IE 8]>
  <link rel="stylesheet" href="{{page.root}}vendor/leaflet/0.3.1/leaflet.ie.css" />
  <![endif]-->
  <link rel="stylesheet" href="{{page.root}}vendor/slickgrid/2.0.1/slick.grid.css">

  <!-- Recline CSS components -->
  <link rel="stylesheet" href="{{page.root}}dist/recline.css">
  <!-- /Recline CSS components -->

  <!-- 3rd party JS libraries -->
  <script type="text/javascript" src="{{page.root}}vendor/jquery/1.7.1/jquery.js"></script>
  <script type="text/javascript" src="{{page.root}}vendor/underscore/1.1.6/underscore.js"></script>
  <script type="text/javascript" src="{{page.root}}vendor/backbone/0.5.1/backbone.js"></script>
  <script type="text/javascript" src="{{page.root}}vendor/mustache/0.5.0-dev/mustache.js"></script>
  <script type="text/javascript" src="{{page.root}}vendor/bootstrap/2.0.2/bootstrap.js"></script>
  <script type="text/javascript" src="{{page.root}}vendor/jquery.flot/0.7/jquery.flot.js"></script>
  <script type="text/javascript" src="{{page.root}}vendor/leaflet/0.3.1/leaflet.js"></script>
  <script type="text/javascript" src="{{page.root}}vendor/slickgrid/2.0.1/jquery-ui-1.8.16.custom.min.js"></script>
  <script type="text/javascript" src="{{page.root}}vendor/slickgrid/2.0.1/jquery.event.drag-2.0.min.js"></script>
  <script type="text/javascript" src="{{page.root}}vendor/slickgrid/2.0.1/slick.grid.min.js"></script>
  <script type="text/javascript" src="{{page.root}}vendor/moment/1.6.2/moment.js"></script>
  <script type="text/javascript" src="{{page.root}}vendor/timeline/20120520/js/timeline.js"></script>

  <script type="text/javascript" src="{{page.root}}dist/recline.js"></script>

