  <link rel="stylesheet" href="vendor/leaflet/0.3.1/leaflet.css">
  <!--[if lte IE 8]>
  <link rel="stylesheet" href="vendor/leaflet/0.3.1/leaflet.ie.css" />
  <![endif]-->
  <link rel="stylesheet" href="vendor/slickgrid/2.0.1/slick.grid.css">

  <!-- Recline CSS components -->
  <link rel="stylesheet" href="css/grid.css">
  <link rel="stylesheet" href="css/graph.css">
  <link rel="stylesheet" href="css/map.css">
  <link rel="stylesheet" href="css/multiview.css">
  <!-- /Recline CSS components -->

  <!-- 3rd party JS libraries -->
  <script type="text/javascript" src="vendor/jquery/1.7.1/jquery.js"></script>
  <script type="text/javascript" src="vendor/underscore/1.1.6/underscore.js"></script>
  <script type="text/javascript" src="vendor/backbone/0.5.1/backbone.js"></script>
  <script type="text/javascript" src="vendor/mustache/0.5.0-dev/mustache.js"></script>
  <script type="text/javascript" src="vendor/bootstrap/2.0.2/bootstrap.js"></script>
  <script type="text/javascript" src="vendor/jquery.flot/0.7/jquery.flot.js"></script>
  <script type="text/javascript" src="vendor/leaflet/0.3.1/leaflet.js"></script>

  <!--
  The recline library itself - this includes all components at once.

  You can include just the components you need e.g.

  <script type="text/javascript" src="src/model.js"></script>
  <script type="text/javascript" src="src/backend/base.js"></script>
  <script type="text/javascript" src="src/backend/memory.js"></script>
  -->
  <script type="text/javascript" src="dist/recline.js"></script>

