/*

Copyright 2010, Google Inc.
All rights reserved.

Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions are
met:

    * Redistributions of source code must retain the above copyright
notice, this list of conditions and the following disclaimer.
    * Redistributions in binary form must reproduce the above
copyright notice, this list of conditions and the following disclaimer
in the documentation and/or other materials provided with the
distribution.
    * Neither the name of Google Inc. nor the names of its
contributors may be used to endorse or promote products derived from
this software without specific prior written permission.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
"AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT
LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR
A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT
OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL,
SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT
LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE,           
DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY           
THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
(INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

*/

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, menu, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

article, aside, figure, footer, header, hgroup, nav, section {
  display: block;
}

ul {
  list-style-position: inside;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input, select {
  vertical-align: middle;
}

body {
  font-size: 62.5%;
  font-family: Arial, sans-serif;
  background: #fff;
}

h1 {
  font-size: 1.8em;
}

h2 {
  font-size: 1.3em;
  font-weight: bold;
}

input[type=text], input[type=password]{
  padding: 3px;
  font-size: 1em;
  font-family: inherit;
  border: #ccc 1px solid;
  border-top: #888 1px solid;
  vertical-align: baseline;
}

a {
  color: #11c;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a.secondary {
  color: #4272db;
}

a.action, a.selected, a.inaction {
  margin: 0 3px;
}

a.selected {
  color: #000;
  font-weight: bold;
  cursor: default;
}

a.inaction {
  color: #999;
}

a.selected:hover, a.inaction:hover {
  cursor: default;
  text-decoration: none;
}

a img {
  border: 0;
}

.form-table th, .form-table td {
  vertical-align: top;
  font-size: 1.3em;
  padding: 2px;
}

.form-table th {
  text-align: left;
  padding-top: 8px;
  font-weight: bold;
}

.list-table {
  width: 100%;
}

.list-table th, .list-table td {
  padding-top: 5px;
  text-align: left;
  vertical-align: baseline;
  padding: 3px 5px;
  font-size: 1.1em;
  color: #777;
  border-bottom: dotted 1px #ddd;
}

.list-table th {
  font-weight: bold;
  color: #444;
  background: #f2f2f2;
}

.list-table-itemname {
  font-size: 1.2em;
}

#loading-message {
  text-align: center;
  font-size: 300%;
  color: #999;
  padding: 3em .5em;
}

#loading-message img {
  position: relative;
  top: -4px;
}

#notification-container {
  width: 400px;
  left: 520px;
  display: none;
  position: fixed;
  top: 0;
  z-index: 100;
  text-align: center;
}

#notification {
  display: inline-block;
  margin: 0 auto;
  padding: 5px 8px 4px;
  font-size: 1.3em;
  text-align: left;
  font-weight: bold;
  background: #fe8;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

.notification-action {
  padding-left: 10px;
}

.notification-loader {
  padding: 0 3px 0 0;
  opacity: 0.3;
}

#header {
  max-height: 40px;
  padding: 6px;
  position: relative;
  overflow: hidden;
}

#app-home-button {
  position: absolute;
  top: 0;
  left: 0;
}

#body-info {
  margin: 0 40px;
}

#body-info p {
  font-size: 1.3em;
  margin: 1.3em;
  width: 50em;
  line-height: 1.3;
}

#body-info h1 {
  font-size: 3.0em;
  font-weight: normal;
  color: #777;
}

#body-info h2 {
  margin: 1.6em 0 .5em 0;
}

#body-info .license, #body-info .errorstack {
  font-family: monospace;
  font-size: 1.3em;
  white-space: pre;
  border: 1px solid #ddd;
  background: #eee;
  padding: 15px;
  width: 60em;
  overflow: auto;
}

#body-info ul {
  font-size: 1.3em;
  margin: .5em 0 2em;
}

#body-info li {
  margin: 0.4em;
}

input[type="checkbox"], input[type="radio"], select {
  vertical-align: baseline;
}

input.inline {
  vertical-align: middle;
}

div.grid-layout > table {
  border-collapse: separate;
}

div.grid-layout.layout-full > table {
  width: 100%;
  max-width: 100% !important;
}

div.grid-layout > table > tbody > tr > th, div.grid-layout > table > tbody > tr > td {
  padding: 0px;
  text-align: left;
  vertical-align: baseline;
}

div.grid-layout.grid-layout-for-text > table > tbody > tr > th, div.grid-layout.grid-layout-for-text > table > tbody > tr > td {
  vertical-align: middle;
}

div.grid-layout.grid-layout-for-ui > table > tbody > tr > th, div.grid-layout.grid-layout-for-ui > table > tbody > tr > td {
  vertical-align: top;
}

div.grid-layout.layout-normal {
  margin: -10px;
}

div.grid-layout.layout-normal > table {
  border-spacing: 10px;
}

div.grid-layout.layout-tight {
  margin: -7px;
}

div.grid-layout.layout-tight > table {
  border-spacing: 7px;
}

div.grid-layout.layout-tighter {
  margin: -5px;
}

div.grid-layout.layout-tighter > table {
  border-spacing: 5px;
}

div.grid-layout.layout-tightest {
  margin: -3px;
}

div.grid-layout.layout-tightest > table {
  border-spacing: 3px;
}

div.grid-layout.layout-loose {
  margin: -15px;
}

div.grid-layout.layout-loose > table {
  border-spacing: 15px;
}

div.grid-layout.layout-looser {
  margin: -20px;
}

div.grid-layout.layout-looser > table {
  border-spacing: 20px;
}

div.input-container {
  padding: 3px;
}

div.input-container > input, div.input-container > textarea {
  display: block;
  width: 100%;
  padding: 2px;
  border: 1px inset;
  margin-left: -3px;
  margin-top: -3px;
  vertical-align: top;
}

input.code, textarea.code {
  font-family: monospace;
}

img {
  vertical-align: middle;
}

.hidden {
  display: none;
  visibility: hidden !important;
}

.fbs-pane, .fbs-flyout-pane {
  z-index: 2000;
}

.ui-widget {
  font-family: inherit;
  font-size: inherit;
}

.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
  font-family: inherit;
  font-size: inherit;
}

p.body-text {
  margin-bottom: 1em;
}

/*

Copyright 2010, Google Inc.
All rights reserved.

Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions are
met:

    * Redistributions of source code must retain the above copyright
notice, this list of conditions and the following disclaimer.
    * Redistributions in binary form must reproduce the above
copyright notice, this list of conditions and the following disclaimer
in the documentation and/or other materials provided with the
distribution.
    * Neither the name of Google Inc. nor the names of its
contributors may be used to endorse or promote products derived from
this software without specific prior written permission.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
"AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT
LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR
A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT
OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL,
SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT
LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE,           
DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY           
THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
(INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

*/

#body {
  display: none;
}

.project-title {
  float: left;
  padding: 2px 0 0 0;
  font-size: 1.6em;
}

.project-controls, .project-actions {
  margin: 3px 2px 0px 0px;
  display: block;
  float: right;
  font-size: 1.3em;
}

#project-name-button {
  padding: 3px;
  border: 1px solid transparent;
}

#project-name-button:hover {
  background: #ffffd6;
  border: 1px solid #ccc;
  border-top: 1px solid #aaa;
}

#logged-in-status {
  padding: 0 4px;
  font-size: 11px;
}

.left-panel {
  position: fixed;
  overflow: hidden;
  padding: 0px;
  padding-top: 5px;
  font-size: 1.3em;
  background: #e3e9ff;
}

.left-panel .ui-tabs .ui-tabs-panel {
  border-left: none;
  border-right: none;
  border-bottom: none;
  padding: 0;
}

.right-panel {
  position: fixed;
  top: 40px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  overflow: auto;
  padding: 0px;
  padding-left: 5px;
  background: #BCF;
}

#tool-panel {
  position: relative;
  height: 32px;
}

#summary-bar {
  position: absolute;
  top: 7px;
  left: 7px;
  font-size: 1.8em;
  font-weight: bold;
}

#summary-total {
  font-size: 0.8em;
  font-weight: normal;
}

#extension-bar {
  position: absolute;
  top: 0px;
  right: 10px;
  white-space: nowrap;
  font-size: 1.3em;
  padding: 5px 0;
}

#extension-bar .secondary {
  font-size: 0.85em;
}

#view-panel {
  background: white;
  overflow: hidden;
}

#facet-panel, #history-panel {
  overflow: auto;
}


/*

Copyright 2010, Google Inc.
All rights reserved.

Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions are
met:

    * Redistributions of source code must retain the above copyright
notice, this list of conditions and the following disclaimer.
    * Redistributions in binary form must reproduce the above
copyright notice, this list of conditions and the following disclaimer
in the documentation and/or other materials provided with the
distribution.
    * Neither the name of Google Inc. nor the names of its
contributors may be used to endorse or promote products derived from
this software without specific prior written permission.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
"AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT
LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR
A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT
OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL,
SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT
LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE,           
DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY           
THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
(INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

*/

.viewpanel-header {
  position: relative;
  background: #e3e9ff;
  font-size: 1.3em;
  padding: 7px;
  overflow: hidden;
  text-align: right;
}

.viewpanel-rowrecord, .viewpanel-pagesize, .viewpanel-sorting {
  position: absolute;
  top: 7px;
  background: #e3e9ff;
  padding: 0 10px 0 0;
}

.viewpanel-pagingcount {
  font-weight: bold
  
}

.data-table-container {
  display: block;
  border-top: 1px solid #BCF;
  overflow: auto;
  position: absolute;
  top: 73px;
  bottom: 0px;
  left: 5px;
  right: 0px;
  background: white;
  }
}

.data-table {
  margin: 0;
  padding: 0;
  font-size: 1.1em;
  border-collapse: collapse;
}

.data-table td {
  padding: 2px 5px;
  border-bottom: 1px dotted #ddd;
  border-right: 1px solid #ddd;
}

.data-table td:hover .data-table-cell-edit {
  visibility: visible;
}

table.data-table > tbody > tr.even > td {
  background: #f2f2f2;
}

table.data-table > tbody > tr.contextual > td > div {
  opacity: 0.3;
}

table.data-table td.column-header {
  vertical-align: top;
  white-space: nowrap;
  background: #f2f2f2;
  cursor: pointer;
  padding: 4px 6px 4px 4px;
  border-right: 1px solid #ddd;
  font-weight: bold;
}

.column-header-name {
  margin: 0 0 0 21px;
  padding: 4px 0 0 0;
  display: block;
}

a.column-header-menu {
  float: left;
  display: block;
  margin: 0 4px 0 0;
  width: 17px;
  height: 19px;
  background-image: url(images/menu-dropdown.png);
  background-repeat: no-repeat;
}

a.row-header-menu:hover {
  background-position: -17px 0px;
  text-decoration: none;
}

a.row-header-menu {
  float: left;
  display: block;
  margin: -2px 0 -4px 0;
  width: 17px;
  height: 18px;
  background-image: url(images/menu-dropdown.png);
  background-repeat: no-repeat;
}

a.column-header-menu:hover {
  background-position: -17px 0px;
  text-decoration: none;
}

.column-header-recon-stats-bar {
  margin-top: 10px;
  height: 4px;
  background: #ddd;
  border: 1px solid #ccc;
  position: relative;
  width: 100%;
}

.column-header-recon-stats-matched {
  position: absolute;
  height: 100%;
  background: #282;
}

.column-header-recon-stats-blanks {
  position: absolute;
  height: 100%;
  background: #3d3;
}

div.data-table-cell-content {
  line-height: 1.2;
  color: #222;
  position: relative;
}

div.data-table-cell-content-numeric {
  text-align: right;
}

a.data-table-cell-edit {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 25px;
  height: 16px;
  text-decoration: none;
  background-image: url(images/edit-map.png);
  background-repeat: no-repeat;
  visibility: hidden;
}

a.data-table-cell-edit:hover {
  background-position: -25px 0px;
}

div.data-table-cell-content-numeric > a.data-table-cell-edit {
  left: 0px;
  right: auto;
}

.data-table-value-nonstring {
  color: #282;
}

.data-table-error {
  color: red;
}

div.data-table-recon-candidates {
  padding: 1px 0;
  min-width: 15em;
  color: #777;
}

div.data-table-recon-candidate {
  padding: 1px 35px 1px;
  position: relative;
}

a.data-table-recon-topic {
  color: #4272db;
}

.data-table-recon-score, .data-table-recon-new {
  color: #aaa;
  margin: 0 0.5em;
}

a.data-table-recon-action, .data-table-recon-extra > a {
  text-decoration: none;
  color: #4272db;
}

a.data-table-recon-action, .data-table-recon-extra {
  font-size: 0.8em;
  display: block;
  margin: 3px 0 0;
}

a.data-table-recon-match, a.data-table-recon-match-similar {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 16px;
  height: 16px;
  background-image: url(images/checks-map.png);
  background-repeat: no-repeat;
  background-position: -16px 0;
  text-decoration: none;
}

a.data-table-recon-match:hover {
  background-position: 0 0;
}

a.data-table-recon-match-similar {
  background-position: -16px -16px;
  left: 16px;
}

a.data-table-recon-match-similar:hover {
  background-position: 0 -16px;
}

a.data-table-star-on, a.data-table-star-off, a.data-table-flag-on, a.data-table-flag-off {
  display: block;
  width: 16px;
  height: 16px;
  background-image: url(images/star-flag-map.png);
  background-repeat: no-repeat;
  text-decoration: none;
}

a.data-table-star-on {
  background-position: 0 0;
}

a.data-table-star-off {
  background-position: -17px 0;
}

a.data-table-flag-on {
  background-position: 0 -17px;
}

a.data-table-flag-off {
  background-position: -17px -17px;
}

.data-table-cell-editor, .data-table-topic-popup {
  overflow: auto;
  border: 1px solid #bcf;
  background: #e3e9ff;
  padding: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.data-table-topic-popup-header {
  padding: 0 0 5px;
}

.data-table-cell-editor-editor {
  overflow: hidden;
  display: block;
  width: 98%;
  height: 3em;
  font-family: monospace;
  margin: 3px 0;
}

.data-table-cell-copypaste-editor {
  overflow: hidden;
  display: block;
  width: 98%;
  height: 10em;
  font-family: monospace;
  margin: 3px 0;
}

.data-table-cell-editor-action {
  float: left;
  vertical-align: bottom;
  text-align: center;
}

.data-table-cell-editor-key {
  font-size: 0.8em;
  color: #999;
}

ul.sorting-dialog-blank-error-positions {
  margin: 0;
  padding: 5px;
  height: 10em;
  border: 1px solid #ccc;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

ul.sorting-dialog-blank-error-positions > li {
  display: block;
  border: 1px solid #ccc;
  background: #eee;
  padding: 5px;
  margin: 2px;
  cursor: move;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

/*

Copyright 2010, Google Inc.
All rights reserved.

Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions are
met:

    * Redistributions of source code must retain the above copyright
notice, this list of conditions and the following disclaimer.
    * Redistributions in binary form must reproduce the above
copyright notice, this list of conditions and the following disclaimer
in the documentation and/or other materials provided with the
distribution.
    * Neither the name of Google Inc. nor the names of its
contributors may be used to endorse or promote products derived from
this software without specific prior written permission.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
"AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT
LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR
A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT
OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL,
SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT
LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE,           
DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY           
THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
(INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

*/

.dialog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #666;
  opacity: 0.5;
}

.dialog {
  position: fixed;
  left: 0;
  width: 100%;
  text-align: center;
}

.dialog-frame {
  margin: 0 auto;
  text-align: left;
  background: white;
  border: 1px solid #3a5774;
}

.dialog-border {
  border: 4px solid #c1d9ff;
}

.dialog-header {
  background: #e0edfe;
  padding: 10px;
  font-weight: bold;
  font-size: 1.6em;
  color: #000;
  cursor: move;
}

.dialog-body {
  overflow: auto;
  font-size: 1.3em;
  padding: 15px;
}

.dialog-instruction {
  padding: 0 0 7px;
}

.dialog-footer {
  font-size: 1.3em;
  background: #eee;
  padding: 10px;
}

.dialog-busy {
  width: 400px;
  border: none;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

/*

Copyright 2010, Google Inc.
All rights reserved.

Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions are
met:

    * Redistributions of source code must retain the above copyright
notice, this list of conditions and the following disclaimer.
    * Redistributions in binary form must reproduce the above
copyright notice, this list of conditions and the following disclaimer
in the documentation and/or other materials provided with the
distribution.
    * Neither the name of Google Inc. nor the names of its
contributors may be used to endorse or promote products derived from
this software without specific prior written permission.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
"AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT
LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR
A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT
OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL,
SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT
LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE,           
DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY           
THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
(INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

*/

#expression-preview-tabs .ui-tabs-nav li a {
  padding: 0.15em 1em;
}

textarea.expression-preview-code {
  font-family: monospace;
  height: 5em;
  vertical-align: top;
}

.expression-preview-parsing-status {
  color: #999;
}

.expression-preview-parsing-status.error {
  color: red;
}

#expression-preview-tabs-preview,
#expression-preview-tabs-help,
#expression-preview-tabs-history,
#expression-preview-tabs-starred {
  padding: 5px;
  overflow: hidden;
}

#expression-preview-tabs-preview > div,
#expression-preview-tabs-help > div,
#expression-preview-tabs-history > div,
#expression-preview-tabs-starred {
  height: 200px;
  overflow: auto;
}

#expression-preview-tabs-preview td, #expression-preview-tabs-preview th,
#expression-preview-tabs-help td, #expression-preview-tabs-help th,
#expression-preview-tabs-history td, #expression-preview-tabs-history th,
#expression-preview-tabs-starred td, #expression-preview-tabs-starred th {
  padding: 5px;
}

.expression-preview-table-wrapper {
  padding: 7px;
}

.expression-preview-container td {
  padding: 2px 5px;
  border-top: 1px solid #ccc;
}

td.expression-preview-heading {
  border-top: none;
  background: #ddd;
  font-weight: bold;
}

td.expression-preview-value {
  max-width: 250px !important;
  overflow-x: hidden;
}

.expression-preview-special-value {
  color: #aaa;
}

.expression-preview-help-container h3 {
  margin-top: 15px;
  margin-bottom: 7px;
  border-bottom: 1px solid #999;
}

.expression-preview-doc-item-title {
  font-weight: bold;
  text-align: right;
}

.expression-preview-doc-item-params {
}

.expression-preview-doc-item-returns {
}

.expression-preview-doc-item-desc {
  color: #666;
}

/*

Copyright 2010, Google Inc.
All rights reserved.

Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions are
met:

    * Redistributions of source code must retain the above copyright
notice, this list of conditions and the following disclaimer.
    * Redistributions in binary form must reproduce the above
copyright notice, this list of conditions and the following disclaimer
in the documentation and/or other materials provided with the
distribution.
    * Neither the name of Google Inc. nor the names of its
contributors may be used to endorse or promote products derived from
this software without specific prior written permission.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
"AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT
LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR
A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT
OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL,
SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT
LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE,           
DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY           
THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
(INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

*/

.button:hover, a.button:hover {
  border: 1px solid #666;
}

.button:active, a.button:active {
  border: 1px solid #000;
}

.button-primary, a.button-primary {
  font-weight: bold;
  padding: 1px 15px;
}

.button-pill-left, a.button-pill-left {
  border-right: 1px solid #bbb;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.button-pill-right, a.button-pill-right {
  border-left: 1px solid #fff;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-bottomleft: 0;
  -webkit-border-top-left-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.button-disabled, a.button-disabled, .button.button-disabled, a.button.button-disabled {
  color: #666;
  border: 1px solid #ddd;
  background: #f3f3f3;
  cursor: default;
}

.button-disabled:hover, a.button-disabled:hover {
  color: #666;
  border: 1px solid #ddd;
  background: #f3f3f3;
  cursor: default;
}

.button img, a.button img {
  padding-left: 3px;
}

.button-menu, a.button-menu {
  background: url(images/down-arrow.png) no-repeat right 6px;
  padding-right: 12px;
}

.button, a.button {
  display: inline-block;
  overflow: visible;
  font-size: 1em;
  line-height: 1.4;
  color: #000;
  text-decoration: none;
  padding: 1px 6px;
  border: 1px solid #bbb;
  cursor: pointer;
  background: #eee;
  white-space: nowrap;
  font-family: Arial, Helvetica, sans-serif;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.button, a.button { 
  background: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#e3e3e3));
  background: -moz-linear-gradient(top,  #f9f9f9,  #e3e3e3);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e3e3e3');
}

.button:active, a.button:active { 
  background: -webkit-gradient(linear, left top, left bottom, from(#e3e3e3), to(#f9f9f9));
  background: -moz-linear-gradient(top,  #e3e3e3,  #f9f9f9);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#e3e3e3', endColorstr='#f9f9f9');
}