.data-graph-container .graph {
	position: absolute;
	left: 0;
	right: 220px;
	bottom: 0;
  height: 100%;
}

.data-graph-container .editor {
	background-color: #efefef;
  position: absolute;
	right: 0;
	left: auto;
	width: 198px;
	padding: 5px 10px;
	border: 1px solid #ccc;
	overflow: auto;
	overflow-x: hidden;
}

.data-graph-container .editor ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.data-graph-container .editor li {
	margin-bottom: 10px;
}

.data-graph-container .editor .data-graph-container .editor-group {
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid #ddd;
}

.data-graph-container .editor label {
	display: block;
	font-weight: bold;
	color: #555;
	line-height: 1.4;
}

.data-graph-container .editor label a {
	float: right;
	font-size: 11px;
	color: #999;
	font-weight: normal;
}

.data-graph-container .editor select {
	width: 100%;
}

.data-graph-container .editor button {
	float: right;
}

.data-graph-container .editor-buttons {
	clear: right;
	overflow: hidden;
}

.data-graph-container .editor-submit {
	margin-top: 10px;
	padding-top: 10px;
	border-top: 1px solid #ddd;
}

.data-graph-container .editor-info {
	border-bottom: 1px solid #ddd;
	margin-bottom: 10px;
}

.data-graph-container .editor-info h1,
.data-graph-container .editor-info p {
	font-size: 12px;
	margin: 0 0 10px;
	color: #555;
}

.data-graph-container .editor-info h1 {
	line-height: 16px;
	cursor: pointer;
	font-family: sans-serif;
	font-size: 13px;
	font-weight: bold;
	margin: 0 0 4px;
}

.data-graph-container .editor-info h1 span {
	position: relative;
	top: 1px;
	display: inline-block;
	width: 12px;
	height: 12px;
	background: url(jquery-ui/css/ckan/images/ui-icons_444444_256x240.png) no-repeat -68px -17px;
}

.data-graph-container .editor-hide-info h1 span {
	background-position: -36px -18px;
}

.data-graph-container .editor-hide-info p {
	display: none;
}

.dataexplorer-tableview-hide-editor .data-graph-container .editor {
	display: none;
}

.dataexplorer-tableview-hide-editor .dataexplorer-tableview-panel {
	right: 0;
}

