section { margin-bottom: 20px; padding: 10px; }
section.even { background-color: #EEE; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; }
article.example { margin: 20px 0px 20px 0px; padding: 10px 0px 10px 0px; border-top: 1px dotted #CCCCCC; border-bottom: 1px dotted #CCCCCC; }
footer { font-size: 11px; color: #666; text-align: center; margin-top: 20px; }
footer a { color: #666 }
.container { margin: 0px auto; }
#main { background-color: #FFFFFF; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; }
code,
blockquote,
.code { font-family: Consolas, Menlo, Monaco, 'Lucida Console', 'Liberation Mono', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Courier New', monospace, serif }
.code { color: #d1d1d1; background-color: #3F3F3F; margin: 0px 0px 20px 0px; padding: 5px; font-size: 13px; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; }
.notice { background-color: #FFF9D8; margin-top: 20px; padding: 10px; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; }
.ribbon { position: absolute; top: 0; right: 0; border: 0; }
#download {float: right; position: relative; top: 3px; right: 5px;}
#database{overflow:hidden;}
#database h2{margin:0;}
#database .group{border-top:1px solid #bedce7;}
#database .separator{padding-top:1em;}
#database .envelope{border-bottom:1px solid #bedce7;border-left:1px solid #bedce7;border-right:1px solid #bedce7;padding:0 .7em .7em .7em;background:#eaf2f5 url(images/bg_gradient.gif) 0 100% repeat-x;overflow:hidden;}
#database .envelope.selected{background:#fffeeb!important;}
#database .envelope.selected .machine span{border-bottom:1px dotted #4183c4;}
#database.single_database .envelope .machine span{border-bottom:1px dotted #4183c4;}
#database .machine{float:right;width:18em;padding:.8em 0 .8em 1.2em;border-left:1px solid #bedce7;color:#808080;font-family:Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;font-size:.85em;line-height:1.5em;}
#database .dbInfo {background:#fff url(images/bg_gradient.gif) 0 100% repeat-x;}
#database .action {background:#eaf2f5 url(images/bg_gradient.gif) 0 100% repeat-x;}
#database .database_oneline td{border-bottom:1px solid #bedce7;}
#database .database_oneline .date{color:#888;width:1%;padding:0 1em 0 .5em;border-left:1px solid #bedce7;}
#database .database_oneline .author{width:15%;}
#database .database_oneline .gravatar{width:1%;}
#database .database_oneline .gravatar img{border:1px solid #d0d0d0;padding:1px;background-color:white;float:left;margin-right:.4em;}
#database .database_oneline .author a{font-weight:bold;color:black;}
#database .database_oneline .message a{color:black;}
#database .database_oneline .database,#database .database_oneline .tree{width:1%;font-family:Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;font-size:90%;color:#808080;border-left:1px solid #bedce7;padding:.6em .5em;}
#database .database_oneline .tree{border-right:1px solid #bedce7;}
a{color:#4183c4;}
a {text-decoration: none;}
a:hover{text-decoration:underline;}
.usingMouse a{outline:none;}
a.button span.icon.loading { background-image: url(images/loader.gif); }
.loading { background-image: url(images/loader.gif); background-repeat: no-repeat; padding-left: 15px; background-position: 0px 3px;}
a.button:hover span.icon.loading { background-image: url(images/loader-blue.gif); }
#couchLogo {float: left; margin-right: 5px; margin-top: 3px}
.chosen {border: 1px solid green}
.info { padding: 0px 0px 10px 0px}
.large-loader { position: relative; }
.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

ul.menu {
  display: none;
  outline-style: none;
  background: white;
  color: black;
  font-size: 12px;
  height: auto;
  list-style: none;
  overflow: hidden;
  position: absolute;
  text-align: left;
  width: 120px;
  z-index: 666;
  border: 1px solid #CCC;
  border-right: 1px solid #666;
  border-bottom: 1px solid #666;
  margin: 0; padding: 0; }
  ul.menu * {
    margin: 0;
    padding: 0; }
  ul.menu a {
    line-height: 14px;
    color: black;
    display: block;
    padding: 5px 7px;
    text-decoration: none; }
  ul.menu li {
    height: 24px; }
  ul.menu li:hover {
    background-color: #DBE8F8 }


/* Document Editor from CouchDB SammyFuton */

div#document-container span#expand-all {
  cursor:pointer; color:#FF0000;
}

div#document-editor { background: #fff; font-size:14px; overflow: auto; max-height: 500px;}
div#document-editor span.expand {cursor:pointer; color:#FF0000;}
div#document-editor div.id-space {
  border: none; float: left; margin: 3px 3px 0 3px; padding: 0;
  width: 15px; height: 15px;
}
div#document-editor div.doc-field {width:99%; padding-bottom:2px;}
div#document-editor div.doc-field, div.doc-value, div.doc-key {float:left; cursor:pointer; cursor: hand;}
div#document-editor div.doc-key {padding-right:5px;font-weight:bold;}

div#document-editor div.string-type { white-space: pre-wrap; color:#393;}
div#document-editor div.string-type:before { color: #ccc; content: "“";
  left: -4px;
}
div#document-editor div.string-type:after { color: #ccc; content: "”"; }

div#document-editor span.number-type { white-space: pre-wrap; color:#339; padding-left:6px;}

div#document-editor span.array-type { color: #BD101D; float:left;}
div#document-editor span.object-type { color: #BD101D; float:left;}
div#document-editor span.null-type { color: #BD101D; float:left; color: #666666; padding-left:6px;}

div#document-editor div.array-key {float:left; padding-right:15px; color:#666666;}
div#document-editor div.object-key {float:left; padding-right:15px; font-weight:bold; }
div#document-editor div.doc-key-base {float:left; padding-right:15px; font-weight:bold; }

div#document-editor .doc-value.object {
  max-width: 400px;
}

div#document-editor .array-type {
  max-width: 500px;
}

div#document-editor div.empty {
  float:left;
}

div#document-editor input {
  font: normal 90% arial, sans-serif;
}

div#document-editor span#save-button {
  cursor:pointer; background-color:#ddd;
  padding: 2px 5px 2px 5px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
}
span#restore {
  cursor:pointer; background-color:#ddd;
  padding: 2px 5px 2px 5px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
}

div#autosave {
  float:right;
}

span.revision {
  padding-right:10px;
  cursor:pointer;
  float:left;
  margin-bottom:10px;
}
div#document-revisions {
  padding-top:20px;
}
span#document-revisions-title {
  padding-right:10px;
  font-weight:bold;
  float:left;
  margin-bottom:80px;
}
span.current-revision {
  font-weight:bold;
  padding-right:10px;
  float:left;
  margin-bottom:10px;
}
span.revision {
  padding-right:10px;
  cursor:default;
  float:left;
  margin-bottom:10px;
}
span.revision-status-missing {
  color:#8C8C8C;
}
span.revision-status-disk {
  cursor:pointer;
}
span.revision-status-available {
  cursor:pointer;
}
span.revision-status-deleted {
  color:#8C8C8C;
}

.tooltip {
  position:absolute;
  font-size:12px;
  padding:2px;
  background-color:#B3B3B3;
  border:checked;
  color:black;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
span.tooltip-status-title {
  color:black;
  font-weight:normal;
  text-align:center;
}
span.tooltip-status {
  font-weight:bold;
  color:red;
  text-align:center;
}

/* rgrp added mods */

.data-explorer .nav {
  border-top: 15px solid #BCF;
  border-left: 5px solid #BCF;
  display: block;
  overflow: auto;
  position: absolute;
  top: 35px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: white;
  padding-top: 3px;
}

.data-view-container {
  display: block;
  border-top: 1px solid #BCF;
  border-left: 5px solid #BCF;
  overflow: auto;
  position: absolute;
  top: 83px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: white;
}

.nav-pagination {
  display: inline;
  float: right;
  list-style-type: none;
}

.nav-pagination li {
  display: inline-block;
}

.nav-pagination input {
  width: 40px;
}

.doc-count {
  font-weight: bold;
  font-size: 120%;
}

