body {
  padding-top: 60px;
}

.navbar .brand {
  line-height: 32px;
}

/* we do not have a LH sidebar */
.container-fluid > .content {
  margin-left: 0;
}

.recline-grid-container {
  height: 550px;
}

.recline-slickgrid-container {
  height: 550px;
}

