body {
  padding-top: 60px;
}

/* we do not have a LH sidebar */
.container-fluid > .content {
  margin-left: 0;
}

.recline-grid-container {
  height: 550px;
}

.recline-slickgrid {
  height: 550px;
}

.recline-timeline .vmm-timeline {
  height: 550px;
}

