<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>{{ page.title }} - Recline Data Explorer and Library</title>

  <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <link rel="stylesheet" href="vendor/bootstrap/2.0.2/css/bootstrap.css" />

  {% if page.recline-deps %}
    {% include recline-deps.html %}
  {% endif %}

  <!-- link rel="stylesheet" href="vendor/bootstrap/2.0.2/css/bootstrap-responsive.css" -->

  <link href="css/pygments.css" rel="stylesheet" type="text/css" />
  <link href="css/site.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="#"><strong>Recline</strong> Data Explorer and Data Library</a>
      <ul class="nav pull-right">
        <li><a href="app/">Data Explorer</a></li>
        <li><a href="library.html">Data Library</a></li>
        <li><a href="http://github.com/okfn/recline/">Code on GitHub</a></li>
      </ul>
      
    </div>
  </div>
</div>

{{content}}

<section class="footer">
	<div class="container">
    <div class="row">
      <div class="span3">
        <h5>Use the Explorer</h5>
        <p class="getit-btn"><a href="app/" class="btn primary">Visit the Data Explorer &raquo;</a></p>
        <h5>Get the Library</h5>
        <p class="getit-btn"><a href="recline.js" class="btn primary">Development Version<br />v0.3 (67k)</a></p>
      </div>
      <div class="span3">
        <h5>Dependencies</h5>
        <ul class="deps">
          <li>JQuery &gt;= 1.6</li>
          <li><a href="http://backbonejs.org/">Backbone</a> &gt;= 0.5.1</li>
          <li>Underscore &gt;= 1.0</li>
          <li>JQuery Mustache</li>
          <li><a href="http://code.google.com/p/flot/">JQuery Flot &gt;= 0.7</a>: (Optional) for graphing</li>
          <li><a href="http://leaflet.cloudmade.com/">Leaflet &gt;= 0.3.1</a>: (Optional) for mapping</li>
          <li><a href="http://twitter.github.com/bootstrap/">Bootstrap</a> &gt;= v2.0: (Optional) for CSS/JS</li>
        </ul>
      </div>
      <div class="span3">
        <h5>Documentation</h5>
        <ul>
          <li><a href="#docs-using">Using it</a></li>
          <li><a href="#docs-concepts">Concepts and Structure</a></li>
          <li><a href="#docs-source">Source Docs (Docco)</a></li>
        </ul>
      </div>
      <div class="span3">
        <h5>Contacts</h5>
        <ul>
          <li><a href="http://twitter.com/maxogden">@maxogden</a></li>
          <li><a href="http://twitter.com/rufuspollock">@rufuspollock</a></li>
        </ul>
        <a class="nav-logo" href="http://okfn.org/" title="An Open Knowledge Foundation Project">
          <img src="http://assets.okfn.org/p/okfn/img/logo_28x30.png" alt="Open Knowledge Foundation logo" />
        </a>
      </div>
    </div>
  </div>
</section>

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-8271754-44']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</body>
</html>
